<footer class="bg-dark text-white text-center py-2 mt-4 border-top footer">
        <div class="container">
            <p>
                &copy; 2025 - TechJobPortal. All rights reserved.
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </p>
        </div>
    </footer>